/* Общие стили */
body {
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg'); /* Фоновое изображение для страницы с формой */
    background-size: cover;
    background-position: center;
}

/* Стили для кнопки "На главную" */
button {
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход фона при наведении */
}

button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}

h2 {
    text-align: center;
    color: #333;
}

/* Полупрозрачный блок для контента */
.content-block {
    background-color: rgba(63, 63, 63, 0.7); /* Полупрозрачный фон */
    color: white; /* Цвет текста */
    padding: 20px;
    margin: 50px auto; /* Отступы сверху и снизу */
    width: 70%;
    max-width: 1000px; /* Максимальная ширина блока */
    border-radius: 10px; /* Скруглённые углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для объёмности */
}

/* Стили для шапки */
header {
    background-color: rgb(86, 86, 86, 0.7);;
    color: white;
    padding: 10px;
    max-height: 40px; 
    text-align: center;
}

/* Стили для навигационного меню */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(63, 63, 63, 0.7);
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(210, 0, 0, 0.3);
    border-radius: 5px;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid white;
    padding: 10px;
    color: white;
}

th {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Футер */
footer {
    background-color: rgb(86, 86, 86, 0.7);;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    max-height: 40px; 
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Стили для формы обратной связи */
.content-block-forms {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный блок */
    padding: 30px;
    margin: 50px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="file"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="radio"] {
    margin-right: 10px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Стили для формы аутентификации */
.auth-form {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый блок */
    padding: 40px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.auth-form form input[type="text"],
.auth-form form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form form button:hover {
    background-color: #0056b3;
}

.auth-form form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.auth-form form label input {
    margin-right: 5px;
}
